/* DASHBOARD */
/* Aside menu */
.aside {
    width: 370px;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 5px solid;
    border-color: whitesmoke;
    background-color: rgb(121, 185, 211);
    border-radius: 10px;
    float: right;
    margin-right: 75px;
    margin-top: -518px;
}
.aside h3 {
    margin-top: auto;
    margin-bottom:auto;
    font-size: 35px;
    border-bottom: 3px solid;
}
.aside ul {
    font-size: 20px;
    margin-right: 35px;
}
.aside li {
    display: block;
    font-size: 20px;
    padding: 5px;
}
.aside a {
    color: whitesmoke;
}
.aside li a:hover {
    background-color: transparent;
    font-weight: bold;
}

/* Table */
table {
    border: 5px solid;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}
td {
    border: 2px solid;
    padding: 5px;
    color:whitesmoke;
    background-color: rgb(121, 185, 211);
}
th {
    border-right: 2px solid;
    padding: 5px;
    color:whitesmoke;
    background-color: rgb(100, 160, 185);
}

/* Grade colours */
.ungraded {
    background-color: gray;
}

.pass {
    background-color: rgb(7, 69, 12);
}

.fail {
    background-color: rgb(139, 0, 0);
}

/* EC Progress */
.progress h2 {
    float: right;
    margin-right: 200px;
}
.progress h3 {
    position: fixed;
    margin-top: 2px;
}
.progress {
    float: right;
    margin-right: 105px;
    margin-top: -120px;
}

.progress div {
    background-color: whitesmoke;
    margin-top: 50px;
    height: 50px;
    width: 340px;
}

#progress-bar {
    background-color:rgb(121, 185, 211);
    height: 50px;
}