h1 {
    color: rgb(121, 185, 211);
    background-color: whitesmoke;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-top:auto;
    border-radius: 10px;
}

.center {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(121, 185, 211);
}

/* Navigation Bar Start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 185, 211);
    overflow: hidden;
    margin-top: -25px;
    font-family:sans-serif;
    font-size:20px;
}

li {
    display:inline-block;
}

.page-nav {float:left}

li a{
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: rgb(135, 206, 235);
    border-radius: 10px;
}

.active {
    background-color:whitesmoke;
    color:rgb(121, 185, 211);
    border-radius:10px;
}
/* Navigation Bar End */

.socials{
    float:right;
}

 /* Personality Box*/
 .personality {
    width:200px;
    height:300px;
    border:5px solid;
    border-color:whitesmoke;
    border-radius:10px;
    padding:10px;
    margin-top:-300px;
    margin-left:auto;
    margin-right:10%;
    margin-bottom:-30px;
}

.personality li {
    display:block;
    text-align:center;
    font-family: sans-serif;
    margin-left:-40px;
    color: whitesmoke;
}

.personality h3 {
    margin-top:auto;
    font-size: 35px;
    text-align:center;
    color:whitesmoke;
    font-family:sans-serif;
    border-bottom:3px solid;
}