h1 {
    color: rgb(121, 185, 211);
    background-color: whitesmoke;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-top: auto;
    border-radius: 10px;
}

.center {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(121, 185, 211);
}

/* PROFILE */
/* Navigation bar */
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 185, 211);
    overflow: hidden;
    margin-top: -25px;
    font-family: sans-serif;
    font-size: 20px;
}

li {
    display: inline-block;
}

.page-nav {
    float: left
}

li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: rgb(135, 206, 235);
    border-radius: 10px;
}

.active {
    background-color: whitesmoke;
    color: rgb(121, 185, 211);
    border-radius: 10px;
}

/* Social media links */
.socials {
    float: right;
}

/* Personality Box*/
.personality {
    width: 200px;
    height: 300px;
    border: 5px solid;
    border-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-top: -300px;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 30px;
    text-align: center;
}

.personality ol {
    padding: 0;
    margin: 0;
}

.personality li {
    display: block;
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
}

.personality h3 {
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 35px;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    border-bottom: 3px solid;
}

/* Info */

.info li {
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: whitesmoke;
}

.info {
    width: 400px;
    height: 100px;
    margin-top: -250px;
    margin-bottom: 150px;
    margin-right: 50%;
}

/* Description */
.description h2 {
    font-family: sans-serif;
    font-size: 25px;
    color: whitesmoke;
    margin-bottom: -15px;
}

.description p {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 16px;
}

.description {
    margin-top: -35px;
}

/* DASHBOARD */
/* Aside menu */
.aside {
    width: 350px;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 5px solid;
    border-color: whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 0px;
    font-family: sans-serif;
}

.aside h3 {
    margin-top: auto;
    margin-bottom:auto;
    font-size: 35px;
    color: whitesmoke;
    border-bottom: 3px solid;
}

.aside ul {
    font-size: 20px;
    margin-right: 25px;
}
.aside li {
    display: block;
    font-size: 20px;
    padding: 5px;
}

.aside li a:hover {
    background-color: transparent;
    font-weight: bold;
    color: whitesmoke;
}

/* BLOG */
/* Articles */
.article h2 {
    font-family: sans-serif;
    font-size: 25px;
    color: whitesmoke;
}

.article li {
    display: block;
    font-family:sans-serif;
    font-size:16px;
}

.article li a {
    margin-left: -8px;
}

.article li a:hover {
    background-color: transparent;
    color: whitesmoke;
    text-decoration: underline;
}

.article p {
    font-family:sans-serif;
    font-size:16px;
    color: whitesmoke;
}